{
  "presets": [["@babel/env", {"targets": {"node": "current"}}], "@babel/preset-typescript"],
  "plugins": [
    "@babel/proposal-nullish-coalescing-operator",
    "@babel/proposal-optional-chaining"
  ]
}